<div class="row p-3">
  <div class="col">
    <h5>Color Picker</h5>
  </div>
</div>

<hr />

<main class="row">
  <div class="col">
    <compact-picker [control]="changeColor()" [(color)]="color"></compact-picker>
  </div>
</main>
