<div class="border-right p-3" [ngStyle]="{'background-color': this.colorService.color}" id="sidebar">
  <h3 class="text-light text-center p-2">Gifs-Api</h3>
  <hr class="text-white" />

  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button class="login100-form-btn" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
  <hr class="text-white" />

  <div *ngIf="!this.colorService.canvas; else colorBlock" class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button class="login100-form-btn" (click)="color()">
        Cambiar Color
      </button>
    </div>
  </div>

  <ng-template #colorBlock>
    <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>
        <button class="login100-form-btn" (click)="return()">
          Regresar
        </button>
      </div>
    </div>
  </ng-template>

  <hr class="text-white" />
  <div class="list-group list-reset">
    <a
      *ngFor="let item of history"
      (click)="search( item )"
      href="#"
      class="list-group-item list-group-item-action"
    >
      {{ item | titlecase }}
    </a>
  </div>
</div>
