<!-- <ul>
  <li *ngFor="let gif of resultados">
    {{ gif.title }}
  </li>
</ul> -->

<div class="row">
  <div *ngFor="let gif of result" class="col-md-4 col-sm-6 animate__animated animate__fadeIn animate__fast">
    <div class="card">
      <img
          [src]="gif.images.downsized_medium.url"
          [alt]="gif.title"
          class="card-img-top"
        />
      <div class="card-body">
        <h5 class="card-title">{{ gif.title }}</h5>
      </div>
    </div>
  </div>
</div>
