<div class="limiter">
  <div class="container-login100" style="background-image: url('../../../../assets/bg-01.jfif');">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

          <router-outlet></router-outlet>

      </div>
  </div>
</div>
